* {
    scroll-behavior: smooth;
    }
/* body{
    background-image: url(../images/nonRequiredPhotos/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
    background-repeat: no-repeat;
    background-color: #105795;
   
        
}  */
.boxybox {

}
.bottom-image {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
} 

.content {
    text-align: center;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.315); /* Translucent white background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */

}

.content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
}