
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #132036;
    color: #fff;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.nav-links li a:hover {
    border-color: #7095fc;
}

